<div class="container">
    <ul>
        <ng-template ngFor let-item [ngForOf]="NonSelectedItems" let-index="index" >
            <li (click)="select(item, index)">{{item.value}}</li>
        </ng-template>

    </ul>
    <div class="container-buttons">
        <button type="button" (click)="selectAll()">>></button>
        <button type="button" (click)="deSelectAll()"><<</button>
    </div>
    <ul>
        <ng-template ngFor let-item [ngForOf]="SelectedItems" let-index="index" >
            <li (click)="deselect(item, index)">{{item.value}}</li>
        </ng-template>
        
    </ul>
</div>
